.idea/.name
*.xml
.idea/SPOTlight.iml

*.pyc

SPOTlight_key.private

*.log

spotlightVenv/*
web/spotstarVenv/*

web/insert_to_db.py

build/*
dist/*

device/build/*
device/dist/*

db/build/*
db/dist/*

control/build/*
control/dist/*
spot_setup.py

change_password.py
