<script>
$(document).ready(function() {
    var d = new Date();
    var timezoneOffset = d.getTimezoneOffset();
    Highcharts.setOptions({
        global: {
            timezoneOffset: timezoneOffset
        }
    });
    var pmvCategories = ['Cold', 'Cool', 'Slightly Cool', 'Neutral', 'Slightly Warm', 'Warm', 'Hot'];

    var pmvData = []
    var ppvData = []

    var comfort_realtime_updater;
    initialize_comfort_graph("Hour");
    $('#ppvTimeSelectionGroup').delegate('button', 'click', function() {
        clearTimeout(comfort_realtime_updater);
        $(this).addClass('active').siblings().removeClass("active");
        var timePeriod = $(this).text();
        if (timePeriod == "Now!") {
            update_comfort_graph("Now");
            return;
        }
        else {
            update_comfort_graph(timePeriod);
        }
    });
    function update_comfort_realtime_graph() {
        $.get( "{{ url_for('user_views.device_get_pmv_ppv_list', device_id=device.device_id) }}", {time_interval: 'Last'})
        .success(function(data) {
            var comfortChart = $('#ppvChart').highcharts();
            pmvData = eval(data)[0];
            ppvData = eval(data)[1];
            if (pmvData[0][0] != comfortChart.series[0].data[comfortChart.series[0].data.length - 1].x) {
                comfortChart.series[0].addPoint(pmvData[0], false, false);
                comfortChart.series[1].addPoint(ppvData[0], true, false);
            }
        })
        .fail(function() {
            alert("network fail");
        });
        comfort_realtime_updater = setTimeout(function() {update_comfort_realtime_graph();}, 1000);
    }
    function initialize_comfort_graph(timePeriod) {
        $.get( "{{ url_for('user_views.device_get_pmv_ppv_list', device_id=device.device_id) }}", {time_interval: timePeriod})
        .success(function(data) {
            pmvData = eval(data)[0];
            ppvData = eval(data)[1];
            $('#ppvChart').highcharts({
                chart: {
                    zoomType: 'x',
                    type: 'line'
                },
                credits: {enabled: false},
                title: {text: ''},
                xAxis: {type: 'datetime', minRange: 15 * 60000},
                yAxis: {title: '', min: -3, max: 3, tickInterval: 1,
                    labels: {formatter: function () {return pmvCategories[this.value + 3];}},
                },
                tooltip: {
                    shared: true,
                    valueDecimals: 2
                },
                legend: {enabled: true},
                plotOptions: {line: {lineWidth: 2}},
                legend: {layout: 'vertical', align: 'right', x: 10, verticalAlign: 'bottom', y: -22, floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'},
                series: [{type: 'line', color: '#D62929', name: 'Standard', data: pmvData}, {type: 'line', name: 'Personalized', color: '#19D11C', data: ppvData}]
            });
            if (timePeriod == "Now") {
	    	    comfort_realtime_updater = setTimeout(function() {update_comfort_realtime_graph();}, 1000);
            }
        })
        .fail(function() {
            alert("network fail");
        });
    }
    function update_comfort_graph(timePeriod) {
        $('#ppvChart').highcharts().destroy();
        initialize_comfort_graph(timePeriod)
	}
});
</script>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Standard & Personalized Comfort</h3>
            </div>
            <div class="panel-body">
                <div class="row" style="padding-left:10px;">
                    <div class="col-lg-11 col-md-10 col-sm-10 col-xs-9" id="ppvChart" style="height: 200px;"></div>
                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
                        <div class="btn-group-vertical pull-right" id="ppvTimeSelectionGroup" style="margin-top: 10px;">
                            <button type="button" class="btn btn-default" >Month</button>
                            <button type="button" class="btn btn-default">Week</button>
                            <button type="button" class="btn btn-default">Day</button>
                            <button type="button" class="btn btn-default active">Hour</button>
                            <button type="button" class="btn btn-default">Now!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
