<script>
$(document).ready(function() {
    var d = new Date();
    var timezoneOffset = d.getTimezoneOffset();
    Highcharts.setOptions({
        global: {
            timezoneOffset: timezoneOffset
        }
    });

    var occupancyCategories = ['Unoccupied', 'Occupied'];

    var occupancy_realtime_updater;

    var occupancyData = [];
    var temperatureData = [];

    initialize_occupancy_graph("Hour");

    $('#occupancyTimeSelectionGroup').delegate('button', 'click', function() {
        clearTimeout(occupancy_realtime_updater);
        $(this).addClass('active').siblings().removeClass("active");
        var timePeriod = $(this).text();
        if (timePeriod == "Now!") {
            update_occupancy_graph("Now");
            return;
        }
        else {
            update_occupancy_graph(timePeriod)
        }
    });

    function update_occupancy_realtime_graph() {
        $.get( "{{ url_for('user_views.device_get_occupancy_temperature_list', device_id=device.device_id) }}", {time_interval: 'Last'})
        .success(function(data) {
            var occupancyChart = $('#occupancyChart').highcharts();
            occupancyData = eval(data)[0];
            temperatureData = eval(data)[1];
            if (occupancyData[0][0] != occupancyChart.series[0].data[occupancyChart.series[0].data.length - 1].x) {
                occupancyChart.series[0].addPoint(occupancyData[0], true, false);
            }
            if (temperatureData[0][0] != occupancyChart.series[1].data[occupancyChart.series[1].data.length - 1].x) {
                occupancyChart.series[1].addPoint(temperatureData[0], true, false);
            }
        })
        .fail(function() {
            alert("network fail");
        });
        occupancy_realtime_updater = setTimeout(function() {update_occupancy_realtime_graph();}, 1000);
    }

    function initialize_occupancy_graph(timePeriod) {
        $.get( "{{ url_for('user_views.device_get_occupancy_temperature_list', device_id=device.device_id) }}", {time_interval: timePeriod})
        .success(function(data) {
            occupancyData = eval(data)[0];
            temperatureData = eval(data)[1];
            $('#occupancyChart').highcharts({
                chart: {
                    zoomType: 'x',
                    type: 'line',
                    alignTicks: false
                },
                credits: {enabled: false},
                title: {text: ''},
                xAxis: {type: 'datetime', minRange: 15 * 60000},
                yAxis: [{title: '', min: 20, max: 30, tickInterval: 2}, {title: '', min: 0, max: 1, tickInterval: 1, opposite: true,
                    labels: {formatter: function () {return occupancyCategories[this.value];}}
                }],
                legend: {enabled: true},
                plotOptions: {line: {lineWidth: 2}},
                legend: {layout: 'vertical', align: 'right', x: 10, verticalAlign: 'middle', y: -30, floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'},
                series: [{type: 'line', color: '#19D11C', name: 'Occupancy', data: occupancyData, yAxis:1},
                    {type: 'line', name: 'Temperature', color: '#A437CC', data: temperatureData, tooltip: {valueDecimals: 2}}]
            });
            if (timePeriod == "Now") {
	    	    occupancy_realtime_updater = setTimeout(function() {update_occupancy_realtime_graph();}, 1000);
            }
        })
        .fail(function() {
            alert("network fail");
        });
    }
    function update_occupancy_graph(timePeriod) {
        $('#occupancyChart').highcharts().destroy();
        initialize_occupancy_graph(timePeriod)
	}
});
</script>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Occupancy & Temperature</h3>
            </div>
            <div class="panel-body">
                <div class="row" style="padding-left:10px;">
                    <div class="col-lg-11 col-md-10 col-sm-10 col-xs-9" id="occupancyChart" style="height: 200px;"></div>
                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
                        <div class="btn-group-vertical pull-right" id="occupancyTimeSelectionGroup" style="margin-top: 10px;">
                            <button type="button" class="btn btn-default" >Month</button>
                            <button type="button" class="btn btn-default">Week</button>
                            <button type="button" class="btn btn-default">Day</button>
                            <button type="button" class="btn btn-default active">Hour</button>
                            <button type="button" class="btn btn-default">Now!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
