<script>
$(document).ready(function() {
    var occupancy_now_start_time = new Date();
    occupancy_now_start_time_offset = (occupancy_now_start_time.getTime() + occupancy_now_start_time.getTimezoneOffset()*60*1000)/1000;

    var occupancySeries = {data: occupancyData, color: 3, label: 'Occupancy', lines: {show: true }, yaxis: 1};
    var temperatureSeries = {data: temperatureData, color: 4, label: 'Temperature', yaxis: 2};

    var occupancy_realtime_updater;

    var occupancyData = [];
    var temperatureData = [];


    var xaxisOptions = {mode: "time", timeformat: "%H:%M", timezone: "browser"};
    var yaxesOptions = [{position: "left", min: 0, max: 1.2}, {min: 20, max: 30, position: "right"}]
    update_occupancy_graph("Hour");
    $('#occupancyTimeSelectionGroup').delegate('button', 'click', function() {
        $(this).addClass('active').siblings().removeClass("active");
        var timePeriod = $(this).text();
        if (timePeriod == "Now!") {
            occupancy_now_start_time = new Date();
            occupancy_now_start_time_offset = (occupancy_now_start_time.getTime() + occupancy_now_start_time.getTimezoneOffset()*60*1000)/1000;
            update_occupancy_graph("Now");
            return;
        }
        else {
            clearTimeout(occupancy_realtime_updater);
            update_occupancy_graph(timePeriod)
        }
    });
    function update_occupancy_graph(timePeriod) {
        $.get( "{{ url_for('user_views.device_get_occupancy_temperature_list', device_id=device.device_id) }}", {time_interval: timePeriod, start_time: occupancy_now_start_time_offset})
        .success(function(data) {
            occupancyData = eval(data)[0];
            temperatureData = eval(data)[1];

            occupancySeries = {data: occupancyData, color: 3, label: 'Occupancy', lines: {show: true }, yaxis: 1};
            temperatureSeries = {data: temperatureData, color: 4, label: 'Temperature', lines: {show: true}, yaxis: 2};

            if (timePeriod == "Month") {
                var now_time = new Date();
                xaxisOptions = {mode: "time", timeformat: "%b %e", timezone: "browser", monthNames: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"], min: now_time.getTime() - 30*24*60*60000, max: now_time.getTime()};
            }
            else if (timePeriod == "Week") {
                var now_time = new Date();
                xaxisOptions = {mode: "time", timeformat: "%a %I%p", timezone: "browser", dayNames: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"], min: now_time.getTime() - 7*24*60*60000, max: now_time.getTime()};
            }
            else if (timePeriod == "Day") {
                var now_time = new Date();
                xaxisOptions = {mode: "time", timeformat: "%H:%M", timezone: "browser", min: now_time.getTime() - 24*60*60000, max: now_time.getTime()};
            }
            else if (timePeriod == "Hour") {
                var now_time = new Date();
                xaxisOptions = {mode: "time", timeformat: "%H:%M", timezone: "browser", min: now_time.getTime() - 60*60000, max: now_time.getTime()};
            }
            else if (timePeriod == "Now") {
                xaxisOptions = {mode: "time", timeformat: "%H:%M", timezone: "browser", min: occupancy_now_start_time.getTime(), max: occupancy_now_start_time.getTime() + 30*60000};
                occupancySeries = {data: occupancyData, color: 3, label: 'Occupancy', lines: {show: true}, points: {show: true}, yaxis: 1};
                temperatureSeries = {data: temperatureData, color: 4, label: 'Temperature', lines: {show: true}, points: {show: true},  yaxis: 2};
            }

            plot = $.plot("#occupancyChart", [occupancySeries, temperatureSeries], {xaxis: xaxisOptions, yaxes: yaxesOptions, grid: {hoverable: true}, tooltip: true, tooltipOpts: {content: "Time: %x, %s: %y.2"}, legend: {position: "nw"}});
            if(timePeriod == "Now") {
	    	    occupancy_realtime_updater = setTimeout(function() {update_occupancy_graph(timePeriod);}, 10000);
	    	}
        })
        .fail(function() {
            alert("network fail");
        });
	}
});
</script>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Occupancy & Temperature</h3>
            </div>
            <div class="panel-body">
                <div class="row" style="padding-left:10px;">
                    <div class="col-lg-11 col-md-10 col-sm-10 col-xs-9" id="occupancyChart" style="height: 200px;"></div>
                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
                        <div class="btn-group-vertical pull-right" id="occupancyTimeSelectionGroup" style="margin-top: 10px;">
                            <button type="button" class="btn btn-default" >Month</button>
                            <button type="button" class="btn btn-default">Week</button>
                            <button type="button" class="btn btn-default">Day</button>
                            <button type="button" class="btn btn-default active">Hour</button>
                            <button type="button" class="btn btn-default">Now!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
